.resumeDownload,.socials,.skills{
  border-bottom: 2px solid red;
  /* border-bottom-right-radius: 50px; */
  border-top: 2px solid red;
  /* border-top-left-radius: 50px; */


}
.downloadBtn:hover{
  cursor: pointer;
  background-color: white;
  border: 1px solid red;
  color: red;
  transition:  0.5s ease-in;
}

.skillsIcon img{
  width: 35px ;
  flex-basis: calc(25% - 30px);
}


.skillsIcon img:hover{
  transform: scale(1.1);
  transition: 0.2s ease;
  cursor: pointer;
}

.socialIcons:hover{
   transform: scale(1.1);
  transition: 0.2s ease;
  cursor: pointer
}

.clockSection{
  border-top: 2px solid red;
}